@use '../../styles/scss/variables.scss' as *;

.socials__wrapper {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond-xl {
    width: 47vw;
    min-width: 505px;
  }

  @include respond-md {
    width: 100%;
    min-width: 320px;
  }

  div {
    height: 180px;
    display: flex;
    background-color: $bright-background;
    justify-content: center;
    align-items: center;
  }
}
