@use '../../styles/scss/variables.scss' as *;

.socials__wrapper {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    height: 180px;
    display: flex;
    background-color: $bright-background;
    justify-content: center;
    align-items: center;
  }
}
