@use '../../styles/scss/variables.scss' as *;

.subscribe__wrapper {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond-xxxl {
    width: 680px;
  }

  @include respond-md {
    width: 100%;
  }

  div {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 180px;
  }
}
