@use '../../styles/scss/variables.scss' as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 60px;

  .title {
    @include text-spaced;
    padding: $spacing-xl 0px $spacing-lg;
    font-size: $font-size-h4;
    text-transform: uppercase;
    font-weight: $font-weight-normal;

    @media screen and (max-width: $breakpoint-xxl) {
      padding: $spacing-xl 15px $spacing-lg;
    }
  }

  .main__section,
  .news {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    justify-content: center;
  }

  .news__row {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    gap: 30px;

    @include respond-xl {
      gap: 30px;
    }

    @include respond-md {
      flex-direction: column;
      padding-left: 0px;
    }
  }

  .citations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: $spacing-xxl;

    @include respond-xl {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include respond-md {
      div:nth-child(2) {
        display: none;
      }

      div:nth-child(3) {
        display: none;
      }

      div:nth-child(4) {
        display: none;
      }
    }
  }

  .banner {
    width: 100%;
  }

  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 15px;

    @include respond-xl {
      padding: 0 15px;
      width: 95%;
      gap: 20px;
    }

    @include respond-md {
      flex-direction: column;
    }
  }
}
