@use '../../styles/scss/variables.scss' as *;

.header {
  min-height: 580px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .menu__wrapper {
    position: relative;
    padding-top: 30px;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    justify-content: space-between;

    @include respond-xxl {
      width: 1342px;
    }

    .menu__nav {
      display: flex;
      gap: $spacing-xxl;

      @include respond-xl {
        div:first-child {
          display: none;
        }
      }
    }
  }

  .subMenu__wrapper {
    width: 100%;
    background-color: $bright-background;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $z-index-fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-regular;

    @include respond-xl {
      overflow-x: hidden;
    }
  }
}
