$light-background: #ffffff;

$text-primary: #3d3d3d;
$text-light: #ffffff;

$font-family-base: 'Roboto Flex', sans-serif;

$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

$border-radius-input: 5px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-circle: 50%;

$font-size-text-12: 12px;
$font-size-regular: 14px;
//$font-size-button-cards: 16px;
//$font-size-h1: 70px;
$font-size-h2: 40px;
//$font-size-h3: 20px;
//$font-size-h4: 18px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-tight: 1.2;
$line-height-normal: 1.5;
$line-height-loose: 1.8;

// $transition-fast: 0.2s;
// $transition-normal: 0.3s;
// $transition-slow: 0.5s;

$z-index-dropdown: 1000;
$z-index-sticky: 1020;
$z-index-fixed: 1030;
$z-index-modal-backdrop: 1040;
$z-index-modal: 1050;
$z-index-popover: 1060;
$z-index-tooltip: 1070;

$breakpoint-xs: 0;
$breakpoint-s: 460px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@mixin respond-xs {
  @media screen and (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin respond-s {
  @media screen and (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin respond-sm {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin respond-md {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin respond-lg {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin respond-xl {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin respond-xxl {
  @media screen and (max-width: $breakpoint-xxl) {
    @content;
  }
}

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;
